.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
height: 100vh;

.button-pink{
  background-color: #AC224F !important;
}
  }
  
 /*  img {
    margin-bottom: 100px; 
  }
  
  .frame {

   margin-top: 100px;
  } */