.faq-container {
    width: 182px;
    height: 40px;
    background-color: #AC224F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; 
    color: #FFF; 
    font-family: 'Marianne';
    margin-right: 20px;
}

.custom-svg {
    width: 20px; 
    height: 20px;
    fill: #F5F5FE;
    font-weight: bold;
}

