
.Icon {
    width: 24px;
    height: 24px;
    background-color: #F1EEF3; 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .svg {
    width: 2%;
    height: auto; 
    fill: #351C6B; 
  }
  