

.filtre-container {
  display: flex;
  align-items: center;
  gap: 30px;  
  align-self: stretch;
  margin-right: 20px;
  padding: 20px ;
}

  .filtre-dropdown-container {
    margin-right: 20px; 
  }
  
  label {
    margin-right: 5px; 
    
  }
  
  select {
  
    padding: 10px;
    border: none;
    border-radius: 7px ;
    background: #F1EEF3;
    color: #4D1C6B;
    font-family: Marianne;
    font-size: 12.051px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.077px;
    
  }
  
  
  