@font-face {
  font-family: 'Chewy';
  src: url('../../../public/app/Font/Chewy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.container {
  display: flex;
  align-items: center;
}

.left-section {
  display: flex;
  padding: 50px;

}

.middle-section {
  flex-grow: 1;
}

.right-section {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 50px;
}

.list-items-container {

  background-color: #F5F5FE;
  display: flex;
  flex-direction: column; 
  padding-top: 30px;

}


.list-container {

  position: relative;
  background-color: #fff;
  padding-left: 60px;
}


.search-container {
  position: relative;
  
}


input[type="text"] {
  padding: 6.026px;
  padding-right: 30px;
  align-items: flex-start;
  align-self: stretch; 
  color: #4D1C6B;
  font-family: Marianne;
  font-size: 12.051px;
  font-style: italic;
  font-weight: 400;
  line-height: 18.077px;
  border-top: none;
  border-left: none; 
  border-right: none;
  border-bottom: 2px solid #4D1C6B;
  background-color: #F4F2F6;
  outline: none;
  border-top-left-radius: 5px; 
}


img.search {
  position: absolute;
  padding: 6.026px 12.051px;
  top: 50%;
  left: 190px;
  transform: translateY(-50%);
  background-color: #4D1C6B;

  border-top-right-radius: 3px; 
  border-bottom-right-radius: 3px; 
 
}

img.search:focus {
  outline: none;
}

h1 {

color: #AC224F;
font-family: 'Marianne';
font-size: 25px;
font-style: normal;
font-weight: 700;
text-align: center;



}

.filtre-container {
  color: #4D1C6B;
  font-family: Marianne;
  font-size: 15.064px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.09px;
  display: flex;  
  align-items: center;  
  gap: 10px;

  
}


.List {
  display: flex;
 
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: 'Marianne';
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #ffffff;

  
 

  &:hover {
    border-radius: 10px;
    background: #ffffff;
    border-bottom: 4px solid #4D1C6B;
    

    .border-box {
      background-color: #4D1C6B;
    }

    .button button:hover {
      background-color: #4D1C6B;
      color: #F5F5FE;
    }

    .minute {
      color: #F5F5FE;
    }
  }
}

.title {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 10px;

    .icon-number {
      background-color: #F1EEF3;
      border: 2px solid #F1EEF3;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.objectif {
margin-top: 30px;
color: #4D1C6B;
font-family: 'Chewy';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
text-transform: uppercase;

}

.obj {
  display: inline-block;
  padding: 10px;
  margin: 20px;
  color: #fff;
  border-left: 1px solid #4D1C6B;
}

.description {

  font-family: 'Marianne';
  padding: 30px;
  align-items: start;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 5px 10px;
    background-color: #F1EEF3;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    color: #4D1C6B;

    &:hover {
      background-color: #4D1C6B;
      color: #F5F5FE;
    }
  }
}

.border-box {
  width: 114px;
  height: 48px;
  margin: 20px;
  padding-top: 10px;
  padding-left: 30px;
  border-radius: 10px;
  background-color: #F1EEF3;

  .minute {
    font-family: 'Marianne';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: #4D1C6B;

    &:hover {
      color: #F5F5FE;
    }
  }

  .title .icon .icon-number {
    background-color: #4D1C6B;
  }

  .button button {
    background-color: #4D1C6B;
  }

  .minute {
    color: #4D1C6B;
    font-family: 'Marianne';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;

    &:hover {
      color: #F5F5FE;
    }
  }
}
